.container{
  display:flex;
  width: 100%;
  aspect-ratio: 16 / 6;
  height: 250px;
}

.galery{
  width: 30px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.7;
  transition: .5s ease;
}

.galery:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
  border: solid 1px #010F16
}